@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Σφάλμα λειτουργίας";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner" style="background-color:dimgray;margin:0px 0px 0px 0px">
    <div class="banner" style="align-content:center">
        <table style="margin-top:20px">
            <tr>
                <td align="left" style="margin:40px 60px 40px 40px"><img src="~/images/metro/error-general.png" height="80" width="80" style="margin:20px 20px 20px 20px"></td>
                <td>
                    <p style="color:whitesmoke;font-family:'Segoe UI';font-size:20px;align-content:center;margin-left:40px">
                        Προέκυψε σφάλμα κατά την επεξεργασία του αιτήματος.
                    </p>
                    <p></p>
                    <p style="color:whitesmoke;font-family:'Segoe UI';font-size:20px;align-content:center;margin-left:40px">
                        Επικοινωνήστε με το διαχειριστή της εφαρμογής.
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="body-content" style="margin: 10px 30px 10px 30px">
    <label style="font-size:18px">Όνομα Ελεγκτή: @Model.ControllerName</label>
    <br />
    <label style="font-size:18px">Όνομα ενέργειας: @Model.ActionName</label>
    <br />
    <h4 style="font-weight:600">Λεπτομέρειες σφάλματος:</h4>
    <h4>@Model.Exception</h4>
</div>