@using Proteus.DAL;
@using Proteus.Models;

@{
    ViewBag.Title = "Κλάδοι-ωράριο";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    .k-grid .k-alt {
        background-color: #e9e9e9; /* specify the alternate background-color */
    }
    .k-grid {
        font-size: 12px;
    }
</style>

    @Html.AntiForgeryToken()
    <div class="page-header" style="margin:5px 30px 5px 30px">
        <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
            <font style="color:#494949;float:left;font-family:'Segoe UI'">Κλάδοι - Ωράρια</font>
        </span>
        <span style="margin:5px 10px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
            @Html.ActionLink("Επιστροφή", "Index", "School", null, new { @class = "btn btn-warning", style = "font-size:14px" })
        </span>
        <button class="btn btn-success" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
    </div>

    <div class="body-content" style="margin:10px 30px 5px 30px">
        @(Html.Kendo().Grid<SYS_KLADOSViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(m => m.KLADOS_NAME).Width(12);
            columns.Bound(m => m.KLADOS_CATEGORY).Width(30);
            columns.Bound(m => m.KLADOS_HOURS).Width(14);
        })
            .HtmlAttributes(new { style = "font-size:14px" })
            .Navigatable()
            .Filterable()
            .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
            .Scrollable(scr => scr.Height(380))
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .DataSource(datasource => datasource
            .Ajax()
            .Batch(true)
            .PageSize(20)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(p => p.KLADOS_ID);
            })
            .Read(read => read.Action("Klados_Read", "Tools"))
            ) @* datasource*@
        )
    </div>

<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }

</script>

