
@{
    ViewBag.Title = "Αρχική Διαχειριστή";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@section footer {
    <div>
        <hr style="background-color:#000080">
        <table width:100%>
            <tr>
                <td width="10%" align="left"><img src="~/images/metro/oaed-logo.png" height="70" width="86" /></td>
                <td align="center">
                    <font color="#000080" size="3" style="font-weight:600">Διεύθυνση Αρχικής Επαγγελματικής Εκπαίδευσης και Κατάρτισης</font>
                </td>
            </tr>
            <tr>
                <td width="10%" align="left"></td>
                <td align="center">
                    <font color="#000080" size="3">Μελέτη-Ανάπτυξη: Δρ. Γεώργιος Κυριακάκης, Επιστημονικός Συνεργάτης: Ελευθέριος Κυριακάκης</font>
                </td>
            </tr>
        </table>
    </div>
}*@


<body>
    <div class="row" style="align-content:center;margin:20px 20px 20px 40px">

        @Html.Kendo().PanelBar().Name("infoPanel").Items(items =>
        {
            items.Add().Text("ΟΔΗΓΙΕΣ 1 (Απαραίτητες καταχωρήσεις)")
            .Selected(true)
            .Expanded(false)
            .Content(@<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Ποιές είναι οι απαραίτητες καταχωρήσεις για την Α2 με χρονική έναρξη το χειμερινό εξάμηνο του 2016
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Από το μενού εργασιών υπάρχουν οι εξής επιλογές:
                        <ol>
                            <li style="margin-bottom:10px">
                                Ρυθμίσεις : Είναι η πρώτη εργασία που πρέπει να γίνει. Εδώ καταχωρούνται τα στοιχεία των πρώτων τριών επιλογών.<br />
                                Στοιχεία του ΙΕΚ, Ειδικότητες που υλοποιεί το ΙΕΚ και τα τμήματα του ΙΕΚ. Τα υπόλοιπα στοιχεία του μενού αυτού καταχωρούνται από
                                τους διαχειριστές της εφαρμογής.
                            </li>
                            <li style="margin-bottom:10px">
                                Καταρτιζόμενοι : Στην επιλογή "Στοιχεία και εγγραφές" καταχωρούνται τα ζητούμενα στοιχεία των σπουδαστών και οι εγγραφές τους στα τήματα του ΙΕΚ.
                            </li>
                            <li style="margin-bottom:10px">
                                Εκπαιδευτές : Στην επιλογή "Στοιχεία και απασχόληση" καταχωρούνται τα ζητούμενα στοιχεία των εκπαιδευτών καθώς και οι περίοδοι απασχόλησης.
                            </li>
                            <li style="margin-bottom:10px">
                                Εκπαιδευτές : Στην επιλογή "Αναθέσεις εκπαιδευτών" καταχωρούνται τα μαθήματα που διδάσκουν οι εκπαιδευτές και οι αντίστοιχες εβδομαδιαίες ώρες.
                            </li>
                            <li style="margin-bottom:10px">
                                Πρακτική : Στην επιλογή "Εργοδότες και πρακτική άσκηση" καταχωρούνται τα στοιχεία των εργοδοτών και οι αντίστοιχοι σπουδαστές που κάνουν την πρακτική τους άσκηση.
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif" style="font-size:medium;margin-bottom:10px">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Τα παραπάνω στοιχεία είναι απαραίτητα προκειμένου η Διεύθυνση Α2 να έχει πλήρες Μητρώο Καταρτιζομένων και να εξάγει πληροφορίες και στατιστικά.
                            </font>
                        </span>
                    <p />
                </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 2 (Ρυθμίσεις του ΙΕΚ)")
            .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Ρυθμίσεις που χρειάζονται για τη λειτουργία της εφαρμογής
                                </font>
                            </span>
                            <br />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Στοιχεία του ΙΕΚ:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στην καρτέλα που εμφανίζεται συμπληρώνονται τα εμφανιζόμενα στοιχεία. Σε περίπτωση που δεν υπάρχει αναπληρωτής διευθυντής το πεδίο μένει κενό.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πεδίο "Φύλο" χρειάζεται προκειμένου στα έντυπα της εφαρμογής να γίνεται χρήση του κατάλληλου ουσιαστικού και να αποφεύγεται έτσι το<br />
                                    λεκτικό "Ο/Η ΔΙΕΥΘΥΝΤΗΣ/ΔΙΕΥΘΥΝΤΡΙΑ".
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Ειδικότητες του ΙΕΚ:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στο εμφανιζόμενο πλέγμα πατάμε "Νέα εγγραφή" και από το πτυσσόμενο πλαίσιο λίστας "Ειδικότητα κατάρτισης" επιλέγουμε μια ειδικότητα που
                                    υλοποιεί το ΙΕΚ. Στη συνέχεια πατάμε "Αποθήκευση αλλαγών".
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε τα παραπάνω βήματα για κάθε ειδικότητα που υλοποιεί το συγκεκριμένο ΙΕΚ (με αρχή πάντα το 2016Χ εξάμηνο).
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Τμήματα του ΙΕΚ:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Εργαζόμαστε όπως παραπάνω. Στο εμφανιζόμενο πλέγμα πατάμε "Νέα εγγραφή" και συμπληρώνουμε τιμές για τις στήλες<br />
                                    "Ειδικότητα, Περίοδος, Εξάμηνο σπουδών, Πρωί/Απόγευμα, Ονομασία". Μετά πατάμε "Αποθήκευση αλλαγών" και επαναλαμβάνουμε
                                    για κάθε τμήμα που υπάρχει στο ΙΕΚ.
                                </li>
                                <li style="margin-bottom:10px">
                                    Εάν, μετά την αποθήκευση, διαπιστώσουμε κάποια λανθασμένη τιμή, κάνουμε κλικ στην αντίστοιχη στήλη, διορθώνουμε και τέλος κάνουμε αποθήκευση.
                                </li>
                                <li style="margin-bottom:10px">
                                    ΣΗΜΑΝΤΙΚΟ: Όσον αφορά την ονομασία που θα καταχωρήσουμε για ένα τμήμα, πρέπει να τηρηθεί συγκεκριμένη σύμβαση ονομασίας, σύμφωνα με τις
                                    οδηγίες που υπάρχουν στη σελίδα "Τμήματα του ΙΕΚ". Συνοπτικά πρέπει οπωσδήποτε να είναι της μορφής:<br />
                                    "περίοδος-συντομογραφία ειδικότητας-εξάμηνο και αύξων αριθμός". Οδηγίες και παράδειγμα υπάρχουν στη σελίδα τμημάτων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για διάκριση των σπουδαστών που κάνουν την πρακτική τους άσκηση, δημιουργούμε ένα εικονικό τμήμα Ε' εξαμήνου για κάθε ειδικότητα, ώστε αυτό
                                    να είναι διαθέσιμο στις Εγγραφές σπουδαστών σε τμήματα (βλ. παρακάτω). Πολλές λειτουργίες της εφαρμογής βασίζονται στο ότι έχουν οριστεί
                                    τμήματα Ε' εξαμήνου για την πρακτική άσκηση.
                                </li>
                            </ul>
                        </p>
                    </div>
            </text>);

            items.Add().Text("ΟΔΗΓΙΕΣ 3 (Σπουδαστές και Εγγραφές)")
            .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Οι απαραίτητες καταχωρήσεις που αφορούν τους σπουδαστές
                                </font>
                            </span>
                            <br />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Στοιχεία σπουδαστών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα "Στοιχεία και εγγραφές σπουδαστών" εμφανίζονται δύο πλέγματα. Στο επάνω πλέγμα γίνονται οι καταχωρήσεις των στοιχείων σπουδαστών<br />
                                    και στο κάτω πλέγμα καταχωρούνται οι εγγραφές κάθε σπουδαστή στα τμήματα κατά τη διάρκεια της φοίτησής του. Και πάλι, το σημείο έναρξης είναι
                                    το χειμερινό εξάμηνο του 2016 (2016Χ).
                                </li>
                                <li style="margin-bottom:10px">
                                    Καταχώρηση σπουδαστών. Στο επάνω πλέγμα πατάμε "Νέα εγγραφή" και δίνουμε τιμές στις εμφανιζόμενες στήλες και κάνουμε αποθήκευση. Στη συνέχεια<br />
                                    κάνουμε κλικ επάνω στη γραμμή του πλέγματος με τον συγκεκριμένο σπουδαστή, ώστε να επιλεγεί, και πατάμε "Επεξεργασία" για να εμφανιστεί
                                    η καρτέλα των ατομικών στοιχείων του σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Συμπληρώνουμε όλα τα πεδία που εμφανίζονται. Κάποια, όπως το ΑΦΜ, ΑΜΚΑ, ΑΜΑ είναι υποχρεωτικά που σημαίνει ότι δεν μπορούμε να αποθηκεύσουμε
                                    εάν αυτά δεν είναι συμπληρωμένα. Η ημερομηνία γέννησης είναι επίσης πολύ σημαντική διότι υπολογίζονται τρεις ηλικίες για τον κάθε σπουδαστή.<br />
                                    Η μια ως προς την ημερομηνία εισόδου και οι άλλες δύο σύμφωνα με τις ημερομηνίες που απαιτούνται από την ΕΛΣΤΑΤ.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στα "Λοιπά στοιχεία" είναι επίσης σημαντικό να γνωρίζει ο καταχωρητής τα στοιχεία που εμφανίζονται διότι αυτά χρησιμοποιούνται για την έκδοση
                                    ΒΕΚ και στα ζητούμενα δεδομένα από την ΕΛΣΤΑΤ.
                                </li>
                                <li style="margin-bottom:10px">
                                    ΣΗΜΕΙΩΣΗ: Όταν ολοκληρωθούν οι καταχωρήσεις και γίνει αποθήκευση, στην καρτέλα σπουδαστή, πατάμε "Επιστροφή" για να ανοίξει πάλι η
                                    αρχική σελίδα με τα δύο πλέγματα. Μια χρήσιμη λειτουργία παρέχεται από τα δύο κουμπιά στο επάνω μέρος τα: "Επαναφορά" και "Επιλογή". Πατώντας
                                    αυτά επανέρχεται το πλέγμα στην κατάσταση που ήταν πριν αλλάξουμε σελίδα. Επανέρχεται, δηλαδή, στη σελίδα του πλέγματος που βρισκόμασταν
                                    και δείχνει ποια γραμμή είχαμε επιλέξει (εμφανίζεται χρωματισμένη). Για να συνεχίσουμε εργασίες με τον ίδιο σπουδαστή
                                    (π.χ. καταχώρηση των εγγραφών στα τμήματα) πρέπει να ξανακάνουμε κλικ επάνω στη χρωματισμένη γραμμή ώστε να μαρκαριστεί ως επιλεγμένη.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Εγγραφές σπουδαστή:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Για την καταχώρηση μιας εγγραφής σπουδαστή σε κάποιο τμήμα πρέπει πρώτα να τον επιλέξουμε από το επάνω πλέγμα με κλικ, οπότε εμφανίζεται
                                    χρωματισμένη η αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο πλέγμα Εγγραφών σπουδαστή, πατάμε "Νέα εγγραφή" και συμπληρώνουμε τα στοιχεία κάθε στήλης. Για να αποθηκεύσουμε τα στοιχεία πατάμε
                                    το κουμπί "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στην περίπτωση εγγραφής σπουδαστή σε Πρακτική Άσκηση, πρέπει να καταχωρηθεί η ημερομηνία λήξης της πρακτικής. Στη στήλη "Είδος εγγραφής"
                                    επιλέγουμε, από το πτυσσόμενο πλαίσιο, την τιμή "Πρακτική Άσκηση" και στη στήλη "Φοίτηση" την τιμή "Ασκείται κανονικά".
                                </li>
                                <li style="margin-bottom:10px">
                                    Όταν ολοκληρωθεί η πρακτική άσκηση του σπουδαστή μπορούμε, ενημερωτικά, να αλλάξουμε την φοίτηση σε "Περάτωση πρακτικής".
                                </li>
                            </ul>
                        </p>
                        <p />
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 4 (Εκπαιδευτές και Αναθέσεις)")
            .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Οι απαραίτητες καταχωρήσεις που αφορούν τους εκπαιδευτές
                                </font>
                            </span>
                            <br />
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Στοιχεία εκπαιδευτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα "Στοιχεία και απασχόληση εκπαιδευτών" εμφανίζονται, όπως και στους σπουδαστές, δύο πλέγματα. Στο επάνω πλέγμα γίνονται οι καταχωρήσεις
                                    των στοιχείων εκπαιδευτών και στο κάτω πλέγμα καταχωρούνται οι περίοδοι απασχόλησης κάθε εκπαιδευτή. Και πάλι, το σημείο έναρξης είναι
                                    το χειμερινό εξάμηνο του 2016 (2016Χ).
                                </li>
                                <li style="margin-bottom:10px">
                                    Καταχώρηση εκπαιδευτών. Στο επάνω πλέγμα πατάμε "Νέα εγγραφή" και δίνουμε τιμές στις εμφανιζόμενες στήλες και κάνουμε αποθήκευση. Στη συνέχεια<br />
                                    κάνουμε κλικ επάνω στη γραμμή του πλέγματος με τον συγκεκριμένο εκπαιδευτή, ώστε να επιλεγεί, και πατάμε "Επεξεργασία" για να εμφανιστεί
                                    η καρτέλα των ατομικών στοιχείων του εκπαιδευτή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Συμπληρώνουμε όλα τα πεδία που εμφανίζονται.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στα "Λοιπά στοιχεία" καταχωρούμε την ημερομηνία πρώτης πρόσληψης προκειμένου να υπολογιστεί η ηλικία του εκπαιδευτή..
                                </li>
                                <li style="margin-bottom:10px">
                                    ΣΗΜΕΙΩΣΗ: Όταν ολοκληρωθούν οι καταχωρήσεις και γίνει αποθήκευση, στην καρτέλα σπουδαστή, πατάμε "Επιστροφή" για να ανοίξει πάλι η
                                    αρχική σελίδα με τα δύο πλέγματα. Μια χρήσιμη λειτουργία παρέχεται από τα δύο κουμπιά στο επάνω μέρος τα: "Επαναφορά" και "Επιλογή". Πατώντας
                                    αυτά επανέρχεται το πλέγμα στην κατάσταση που ήταν πριν αλλάξουμε σελίδα. Επανέρχεται, δηλαδή, στη σελίδα του πλέγματος που βρισκόμασταν
                                    και δείχνει ποια γραμμή είχαμε επιλέξει (εμφανίζεται χρωματισμένη). Για να συνεχίσουμε εργασίες με τον ίδιο εκπαιδευτή
                                    (π.χ. καταχώρηση των περιόδων απασχόλησης) πρέπει να ξανακάνουμε κλικ επάνω στη χρωματισμένη γραμμή ώστε να μαρκαριστεί ως επιλεγμένη.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Περίοδοι απασχόλησης:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Για την καταχώρηση μιας περιόδου απασχόλησης πρέπει πρώτα να επιλέξουμε τον εκπαιδευτή από το επάνω πλέγμα με κλικ, οπότε εμφανίζεται
                                    χρωματισμένη η αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο πλέγμα Περίοδοι απασχόλησης, πατάμε "Νέα εγγραφή" και συμπληρώνουμε τα στοιχεία κάθε στήλης. Για να αποθηκεύσουμε τα στοιχεία πατάμε
                                    το κουμπί "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Οι στήλες "Απόφαση" και "ΑΔΑ" πρέπει να συμπληρώνονται διότι, εκτός των άλλων, χρειάζονται σε μια μορφή βεβαίωσης προϋπηρεσίας των εκπαιδευτών.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Αναθέσεις εκπαιδευτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα "Αναθέσεις εκπαιδευτών" εμφανίζονται, όπως και παραπάνω, δύο πλέγματα. Στο επάνω πλέγμα γίνεται η επιλογή εκπαιδευτή
                                    και στο κάτω πλέγμα καταχωρούνται οι αναθέσεις μαθημάτων για τον επιλεγμένο εκπαιδευτή. Και πάλι, το σημείο έναρξης είναι
                                    το χειμερινό εξάμηνο του 2016 (2016Χ).
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο πλέγμα Αναθέσεις μαθημάτων, πατάμε "Νέα εγγραφή" και συμπληρώνουμε τα στοιχεία κάθε στήλης. Για να αποθηκεύσουμε τα στοιχεία πατάμε
                                    το κουμπί "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού επιλέξουμε ειδικότητα κατάρτισης και εξάμηνο το πλαίσιο λίστας "Μάθημα" εμφανίζει τα αντίστοιχα μαθήματα. Εάν πρόκειται για θεωρητικό μάθημα
                                    συμπληρώνουμε τις εβδομαδιαίες ώρες στη στήλη "Ώρες Θ" ενώ αν πρόκειται για εργαστηριακό καταχωρούμε τις ώρες στη στήλη "Ώρες Ε".
                                </li>
                                <li style="margin-bottom:10px">
                                    Οι στήλη "Σύνολο" συμπληρώνεται από την εφαρμογή μετά την αποθήκευση.
                                </li>
                            </ul>
                        </p>
                        <p />
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 5 (Εργοδότες και Πρακτική Άσκηση)")
            .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Οι απαραίτητες καταχωρήσεις που αφορούν τους εργοδότες και την πρακτική
                                </font>
                            </span>
                            <br />
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Στοιχεία εργοδοτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα "Στοιχεία εργοδοτών και πρακτικής" εμφανίζονται, όπως και στα προηγούμενα, δύο πλέγματα. Στο επάνω πλέγμα γίνονται οι καταχωρήσεις
                                    των στοιχείων εργοδοτών και στο κάτω πλέγμα καταχωρούνται οι σπουδαστές που κάνουν πρακτική για κάθε εργοδότη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Καταχώρηση εργοδοτών. Στο επάνω πλέγμα πατάμε "Νέα εγγραφή" και δίνουμε τιμές στις εμφανιζόμενες στήλες και κάνουμε αποθήκευση. Στη συνέχεια<br />
                                    κάνουμε κλικ επάνω στη γραμμή του πλέγματος με τον συγκεκριμένο εργοδότη, ώστε να επιλεγεί, και πατάμε "Επεξεργασία" για να εμφανιστεί
                                    η καρτέλα των στοιχείων του εργοδότη. Το πεδίο ΑΦΜ είναι υποχρεωτικό για όλους τους εργοδότες (Φορείς και Εταιρείες).
                                </li>
                                <li style="margin-bottom:10px">
                                    Συμπληρώνουμε όλα τα πεδία που εμφανίζονται. Το φύλο του υπεύθυνου είναι και εδώ απαραίτητο για την επιλογή του κατάλληλου λεκτικού
                                    στα διάφορα έντυπα πρακτικής άσκησης (καταργείται έτσι το λεκτικό "Ο/Η ΥΠΕΥΘΥΝΟΣ/Η").
                                </li>
                                <li style="margin-bottom:10px">
                                    ΣΗΜΕΙΩΣΗ: Όταν ολοκληρωθούν οι καταχωρήσεις και γίνει αποθήκευση, στην καρτέλα εργοδότη, πατάμε "Επιστροφή" για να ανοίξει πάλι η
                                    αρχική σελίδα με τα δύο πλέγματα. Μια χρήσιμη λειτουργία παρέχεται από τα δύο κουμπιά στο επάνω μέρος τα: "Επαναφορά" και "Επιλογή". Πατώντας
                                    αυτά επανέρχεται το πλέγμα στην κατάσταση που ήταν πριν αλλάξουμε σελίδα. Επανέρχεται, δηλαδή, στη σελίδα του πλέγματος που βρισκόμασταν
                                    και δείχνει ποια γραμμή είχαμε επιλέξει (εμφανίζεται χρωματισμένη). Για να συνεχίσουμε εργασίες με τον ίδιο εργοδότη
                                    (π.χ. καταχώρηση των σπουδαστών πρακτικής) πρέπει να ξανακάνουμε κλικ επάνω στη χρωματισμένη γραμμή ώστε να μαρκαριστεί ως επιλεγμένη.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Πρακτική άσκηση:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Για την καταχώρηση των σπουδαστών σε πρακτική πρέπει πρώτα να επιλέξουμε τον εργοδότη από το επάνω πλέγμα με κλικ, οπότε εμφανίζεται
                                    χρωματισμένη η αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο πλέγμα Πρακτική άσκηση, πατάμε "Νέα εγγραφή" και συμπληρώνουμε τα στοιχεία κάθε στήλης. Για να αποθηκεύσουμε τα στοιχεία πατάμε
                                    το κουμπί "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε τη διαδικασία για κάθε σπουδαστή που κάνει πρακτική στον επιλεγμένο εργοδότη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Εάν κάποιος σπουδαστής συμπληρώνει τις ώρες πρακτικής σε άλλο εργοδότη, τότε επιλέγουμε αυτόν τον εργοδότη και καταχωρούμε τον σπουδαστή.
                                    Το αποτέλεσμα είναι ότι ο συγκεκριμένος σπουδαστής θα εμφανίζεται και στους δύο (ή περισσότερους) εργοδότες στα έντυπα πρακτικής.
                                </li>
                            </ul>
                        </p>
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 6 (Λειτουργίες πλεγμάτων)")
            .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Δυνατότητες προβολής δεδομένων στα πλέγματα
                                </font>
                            </span>
                            <br />
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                            Όταν τα δεδομένα εμφανίζονται μέσα σε πλέγματα (πίνακες) έχουμε στη διάθεσή μας ορισμένες
                            χρήσιμες δυνατότητες, οι οποίες είναι:
                            <ol>
                                <li>
                                    Ταξινόμηση
                                </li>
                                <li>
                                    Ομαδοποίηση
                                </li>
                                <li>
                                    Φίλτρα
                                </li>
                            </ol>
                        </p>
                        <p class="sansserif">
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Η ταξινόμηση αλλάζει κάνοντας κλικ επάνω στην κεφαλίδα μιας στήλης. Έχουμε τρία είδη
                            ταξινομήσης:
                            <ul>
                                <li>
                                    Προεπιλεγμένη ταξινόμηση - αυτή που χρησιμοποιείται από την εφαρμογή. Δεν εμφανίζεται βελάκι στην κεφαλίδα.
                                </li>
                                <li>
                                    Αύξουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα επάνω.
                                </li>
                                <li>
                                    Φθίνουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα κάτω.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Η ομαδοποίηση προβάλλει τα δεδομένα σε κατηγορίες που ορίζονται από τις κεφαλίδες των στηλών που
                            θα επιλέξουμε. Σε πολλές περιπτώσεις είναι μια πολύ χρήσιμη λειτουργία με την οποία μπορεί κανείς να εξάγει άμεσα κάποιες πληροφορίες*.<br />
                            Ο τρόπος λειτουργίας της ομαδοποίησης παρουσιάζεται με τρία τυπικά παραδείγματα:
                            <ul>
                                <li>
                                    Έστω το πλέγμα με τις αναθέσεις εκπαιδευτών: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Κλάδος' τότε
                                    τα δεδομένα κατηγοριοποιούνται/ομαδοποιούνται σύμφωνα με τις τιμές της στήλης αυτής. Έτσι, μπορούμε
                                    να έχουμε σε μια ομάδα όλους τους ΠΕ, σε άλλη τους ΤΕ κ.λπ.
                                </li>
                                <li>
                                    Έστω το πλέγμα με τις αναθέσεις εκπαιδευτών: Εάν ομαδοποιήσουμε με βάση τις στήλες 'Κλάδος' και 'Ειδικότητα'
                                    τότε τα δεδομένα ομαδοποιούνται πρώτα ανά Κλάδο, και μετά ανά Ειδικότητα. Έτσι. δημιουργούμε ομάδες
                                    δεδομένων μέσα σε άλλη ομάδα.
                                </li>
                                <li>
                                    Τα πλέγματα, στα οποία έχει ορισθεί η δυνατότητα ομαδοποίησης εμφανίζουν επάνω από τα ονόματα στηλών μια γραμμή με το λεκτικό
                                    "Σύρετε την κεφαλίδα στήλης εδώ, για ομαδοποίηση κατά τη στήλη αυτή". Για κάποιες στήλες πλεγμάτων δεν έχει νόημα η ομαδοποίηση,
                                    οπότε αυτές δεν μπορούν να συρθούν στη γραμμή ομαδοποίησης.
                                </li>
                                <li>
                                    *Παράδειγμα : Στο πλέγμα αναθέσεων της σελίδας "Μητρώο Αναθέσεων" μια ομαδοποίηση ως προς τον εκπαιδευτή δείχνει άμεσα ποια μαθήματα διδάσκει,
                                    ενώ μια ομαδοποίηση ως προς το μάθημα δείχνει άμεσα ποιοι διδάσκουν κάθε μάθημα.
                                </li>
                            </ul>
                        </p>
                        <p></p>
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Τα φίλτρα ως προς μια ή περισσότερες στήλες δίνουν τη δυνατότητα εμφάνισης μόνο των δεδομένων
                            που ικανοποιούν τα κριτήρια που εισάγαμε.<br />
                            Για να εισάγουμε ένα κριτήριο σε μια στήλη κάνουμε κλικ στο σύμβολο φίλτρου που υπάρχει σε κάθε
                            κεφαλίδα στήλης. Στη συνέχει ορίζουμε το φίλτρο. Ενδεικτικά, αναφέρουμε τρία παραδείγματα:
                            <ol>
                                <li>
                                    Έστω το πλέγμα Μητρώου σπουδαστών. Αν ορίσουμε το φίλτρο στη στήλη 'Ονοματεπώνυμο' ως:<br />
                                    'Αρχίζει από' + "Κ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ονοματεπώνυμο'
                                    έχει τιμές όπου το πρώτο γράμμα είναι 'Κ' (προσοχή στο ελληνικό Κ και Λατινικό Κ - δεν είναι ίδια!)
                                </li>
                                <li>
                                    Έστω το πλέγμα Μητρώου σπουδαστών. Αν ορίσουμε το φίλτρο στη στήλη 'Ειδικότητα' ως:<br />
                                    'Περιέχει' + "ΑΙΣΘΗΤ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ειδικότητα'
                                    έχει τιμές που περιέχουν το λεκτικό αυτό. Το αποτέλεσμα είναι η προβολή μόνο των τεχνικών αισθητικής τέχνης.
                                </li>
                                <li>
                                    Έστω το πλέγμα βεβαιώσεων προϋπηρεσίας. Αν ορίσουμε το φίλτρο στη στήλη 'Ημερομηνία' ως:<br />
                                    'Μετά από ή ίση με' + "01/01/2016" ΚΑΙ 'Πριν από' + "04/05/2016", εμφανίζονται
                                    μόνο οι εγγραφές για τις οποίες η στήλη 'Ημερομηνία' έχει τιμές που ικανοποιούν το κριτήριο αυτό.
                                    Το αποτέλεσμα είναι η προβολή μόνο των βεβαιώσεων προϋπηρεσιών μεταξύ των δύο ημερομηνιών που ορίσαμε.
                                </li>

                            </ol>
                        </p>
                        <p /><br />
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 7 (Διαχείριση του ΙΕΚ - Καταρτιζόμενοι)")
           .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Λειτουργίες που αφορούν τη διαχείριση του ΙΕΚ (Καταρτιζόμενοι)
                                </font>
                            </span>
                            <br />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Μητρώο σπουδαστών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Μητρώο σπουδαστών" έχει σκοπό την άμεση πρόσβαση στα δεδομένα των καταχωρημένων σπουδαστών. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με τα βασικά στοιχεία των σπουδαστών και στο κάτω μέρος μια καρτέλα που εμφανίζει τις εγγραφές και κάποια στοιχεία του επιλεγμένου
                                    σπουδαστή που δεν εμφανίζονται στο πλέγμα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιο σπουδαστή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στην καρτέλα, στο κάτω μέρος, εμφανίζονται οι εγγραφές σε τμήματα και τα υπόλοιπα στοιχεία του επιλεγμένου σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο πλέγμα σπουδαστών παρέχεται και η δυνατότητα επεξεργασίας των στοιχείων του επιλεγμένου σπουδαστή π.χ. όταν θέλουμε να διορθώσουμε
                                    ή να συμπληρώσουμε κάποια στοιχεία του σπουδαστή. Για να επεξεργαστούμε τα στοιχεία ενός σπουδαστή πατάμε το κουμπί "Επεξεργασία"
                                    που βρίσκεται δεξιά σε κάθε γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    ΣΗΜΕΙΩΣΗ: Εάν γίνει επεξεργασία και ολοκληρωθεί με αποθήκευση, στην καρτέλα σπουδαστή, πατάμε "Επιστροφή" για να ανοίξει πάλι η
                                    αρχική σελίδα. Όπως αναφέραμε και παραπάνω, τα δύο κουμπιά στο επάνω μέρος "Επαναφορά" και "Επιλογή" επαναφέρουν το πλέγμα στην κατάσταση
                                    που ήταν πριν αλλάξουμε σελίδα. Επανέρχεται, δηλαδή, στη σελίδα του πλέγματος που βρισκόμασταν και δείχνει ποια γραμμή είχαμε επιλέξει
                                    (εμφανίζεται χρωματισμένη).
                                </li>
                                <li style="margin-bottom:10px">
                                    Μια χρήσιμη λειτουργία στο πλέγμα των σπουδαστών είναι η ομαδοποίηση με βάση το πεδίο "Ειδικότητα". Με αυτό τον τρόπο προβάλλονται οι σπουδαστές
                                    ομαδοποιημένοι ως προς την κάθε ειδικότητα. Εναλλακτικά μπορούμε να κάνουμε χρήση των φίλτρων του πλέγματος (βλ. Οδηγίες 6).
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Αιτήσεις σπουδαστών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Αιτήσεις σπουδαστών" έχει σκοπό την εκτύπωση αιτήσεων των σπουδαστών προς το ΙΕΚ (π.χ. για έκδοση βεβαίωσης σπουδών).
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να καταχωρήσουμε μια αίτηση πατάμε "Νέα εγγραφή" και συμπληρώνουμε τις στήλες του πλέγματος. Για να αποθηκεύσουμε πατάμε το κουμπί
                                    "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος. Τα πεδία "Πρωτόκολλο" και "Ημερομηνία" είναι υποχρεωτικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού επιλέξουμε ειδικότητα, το πλαίσιο λίστας της στήλης "Σπουδαστής" εμφανίζει τους σπουδαστές της συγκεκριμένης ειδικότητας, ταξινομημένους
                                    αλφαβητικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να εκτυπώσουμε την αίτηση πατάμε το κουμπί "Κείμενο". Εμφανίζεται, τότε, καρτέλα στην οποία συμπληρώνουμε το κείμενο (π.χ. "Να μου χορηγήσετε βεβαίωση σπουδών")
                                    και αφού κάνουμε αποθήκευση, πατάμε το κουμπί "Εκτύπωση Αίτησης".
                                </li>
                                <li style="margin-bottom:10px">
                                    Το έντυπο της αίτησης έχει προ-συμπληρωμένα όλα τα απαραίτητα στοιχεία του σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Μια χρήσιμη λειτουργία στο πλέγμα των αιτήσεων είναι η ομαδοποίηση με βάση τα πεδία "Ειδικότητα", "Σπουδαστής", "Ημερομηνία". Με αυτό τον τρόπο προβάλλονται οι αιτήσεις
                                    ομαδοποιημένες ως προς την κάθε ειδικότητα ή ως προς κάθε σπουδαστή ή ως προς την ημερομηνία. Εναλλακτικά μπορούμε να κάνουμε χρήση των φίλτρων του πλέγματος (βλ. Οδηγίες 6).
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Βεβαιώσεις σπουδαστών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Βεβαιώσεις σπουδαστών" έχει σκοπό την εκτύπωση βεβαιώσεων των σπουδαστών. Υπάρχουνε δύο βεβαιώσεις, οι:<br />
                                    "Βεβαιώση σπουδών" και "Βεβαιώση για στρατολογία".
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να καταχωρήσουμε μια βεβαίωση πατάμε "Νέα εγγραφή" και συμπληρώνουμε τις στήλες του πλέγματος. Για να αποθηκεύσουμε πατάμε το κουμπί
                                    "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος. Τα πεδία "Πρωτόκολλο" και "Ημερομηνία" είναι υποχρεωτικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού επιλέξουμε ειδικότητα, το πλαίσιο λίστας της στήλης "Σπουδαστής" εμφανίζει τους σπουδαστές της συγκεκριμένης ειδικότητας, ταξινομημένους
                                    αλφαβητικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να εκτυπώσουμε μια βεβαίωση πατάμε το κουμπί "Κείμενο". Εμφανίζεται, τότε, καρτέλα στην οποία συμπληρώνουμε το κείμενο "Για χρήση"
                                    και αφού κάνουμε αποθήκευση, πατάμε το κουμπί "Βεβαιώση σπουδών" ή "Βεβαίωση για στρατολογία.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το έντυπο της βεβαίωσης έχει προ-συμπληρωμένα όλα τα απαραίτητα στοιχεία του σπουδαστή και της φοίτησής του.
                                </li>
                                <li style="margin-bottom:10px">
                                    Μια χρήσιμη λειτουργία στο πλέγμα των βεβαιώσεων είναι η ομαδοποίηση με βάση τα πεδία "Ειδικότητα", "Σπουδαστής", "Ημερομηνία". Με αυτό τον τρόπο προβάλλονται οι βεβαιώσεις
                                    ομαδοποιημένες ως προς την κάθε ειδικότητα ή ως προς κάθε σπουδαστή ή ως προς την ημερομηνία. Εναλλακτικά μπορούμε να κάνουμε χρήση των φίλτρων του πλέγματος (βλ. Οδηγίες 6).
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                            ΒΕΚ σπουδαστών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "ΒΕΚ σπουδαστών" έχει σκοπό την εκτύπωση ΒΕΚ των σπουδαστών. Υπάρχουν έξι ΒΕΚ, που διακρίνονται σε δύο κατηγορίες:
                                    Τα κανονικά ΒΕΚ και τα ΒΕΚ για σπουδαστές από κατάταξη. Κάθε κατηγορία έχει τρία είδη: "Με πρακτική", "Με επάρκεια ωρών", "Με απαλλαγή".
                                    Η επιλογή του κατάλληλου ΒΕκ για ένα σπουδαστή εξαρτάται από το είδος φοίτησης και είναι ευθύνη της διαχείρισης του ΙΕΚ.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να καταχωρήσουμε ένα ΒΕΚ πατάμε "Νέα εγγραφή" και συμπληρώνουμε τις στήλες του πλέγματος. Για να αποθηκεύσουμε πατάμε το κουμπί
                                    "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος. Τα πεδία "Αριθμός Βιβλίου ΒΕΚ" και "Ημερομηνία" είναι υποχρεωτικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πλαίσιο λίστας "Τμήμα" εμφανίζει μόνο τα τμήματα Δ' εξαμήνου σπουδών.
                                    Αφού επιλέξουμε τμήμα, το πλαίσιο λίστας της στήλης "Σπουδαστής" εμφανίζει τους σπουδαστές του συγκεκριμένου τμήματος, ταξινομημένους αλφαβητικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να εκτυπώσουμε ένα ΒΕΚ πατάμε το κουμπί "Στοιχεία ΒΕΚ". Εμφανίζεται, τότε, η καρτέλα "Στοιχεία και εκτύπωση ΒΕΚ". Στην καρτέλα αυτή τα στοιχεία
                                    του σπουδαστή είναι συμπληρωμένα και παρέχεται η δυνατότητα αλλαγής κάποιων στοιχείων. Για παράδειγμα τα πεδία "Πατρώνυμο" και "Μητρώνυμο" πρέπει
                                    να αλλάξουν σε γενική πτώση (π.χ. αντί "ΔΗΜΗΤΡΙΟΣ" να γίνει "ΔΗΜΗΤΡΙΟΥ").
                                </li>
                                <li style="margin-bottom:10px">
                                    Η εκτύπωση ΒΕΚ προϋποθέτει ότι έχουν ολοκληρωθεί δύο λειτουργίες της εφαρμογής. Η ένταξη σπουδαστή σε πρακτική άσκηση και οι απουσίες του, είτε
                                    οι συνολικές ή/και οι αναλυτικές σύμφωνα με το ωρολόγιο πρόγραμμα μαθημάτων (βλ. ΟΔΗΓΙΕΣ 10 - Πρόγραμμα).
                                </li>
                                <li style="margin-bottom:10px">
                                    Στην καρτέλα ΒΕΚ "Στοιχεία ΒΕΚ (2)" είναι υπολογισμένα τα πεδία "Συνολικές ώρες ειδικότητας", "Ώρες θεωρητικής κατάρτισης" (που είναι οι ώρες της εδικότητας
                                    μείον το σύνολο απουσιών του σπουδαστή) και οι ώρες πρακτικής άσκησης. Για το λόγο αυτό η εκτύπωση ΒΕΚ εξαρτάται από τίς καταχωρήσεις που έχουν ήδη γίνει
                                    στα μενού "Πρακτική" και"" Πρόγραμμα".
                                </li>
                                <li style="margin-bottom:10px">
                                    Και στο πλέγμα των ΒΕΚ παρέχεται η δυνατότητα ομαδοποίησης με βάση τα πεδία "Τμήμα", "Σπουδαστής". Με αυτό τον τρόπο προβάλλονται τα στοιχεία του πλέγματος
                                    ομαδοποιημένα ως προς το κάθε τμήμα ή ως προς κάθε σπουδαστή. Εναλλακτικά μπορούμε να κάνουμε χρήση των φίλτρων του πλέγματος (βλ. Οδηγίες 6).
                                </li>
                            </ul>
                        </p>
                        <p />
                    </div>
        </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 8 (Διαχείριση του ΙΕΚ - Εκπαιδευτές)")
            .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Λειτουργίες που αφορούν τη διαχείριση του ΙΕΚ (Εκπαιδευτές)
                                </font>
                            </span>
                            <br />
                        <p />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                            Στοιχεία και απασχόληση, Αναθέσεις εκπαιδευτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Οι παραπάνω λειτουργίες έχουν ήδη αναφερθεί στις "ΟΔΗΓΙΕΣ 4 - (Εκπαιδευτές και Αναθέσεις)".
                                </li>
                                <li style="margin-bottom:10px">
                                    Στα παρακάτω θα εξετάσουμε τις υπόλοιπες λειτουργίες σχετικές με τους εκπαιδευτές.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Μητρώο εκπαιδευτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Μητρώο εκπαιδευτών" έχει σκοπό την άμεση πρόσβαση στα δεδομένα των καταχωρημένων εκπαιδευτών. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με τα βασικά στοιχεία των εκπαιδευτών και στο κάτω μέρος μια καρτέλα που με τις περιόδους απασχόλησης, αναθέσεις και κάποια στοιχεία του επιλεγμένου
                                    εκπαιδευτή που δεν εμφανίζονται στο πλέγμα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιον εκπαιδευτή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στην καρτέλα, στο κάτω μέρος, εμφανίζονται οι περίοδοι απασχόλησης, οι αναθέσεις και τα υπόλοιπα στοιχεία του επιλεγμένου εκπαιδευτή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο πλέγμα εκπαιδευτών παρέχεται και η δυνατότητα επεξεργασίας των στοιχείων του επιλεγμένου εκπαιδευτή π.χ. όταν θέλουμε να διορθώσουμε
                                    ή να συμπληρώσουμε κάποια στοιχεία του εκπαιδευτή. Για να επεξεργαστούμε τα στοιχεία ενός εκπαιδευτή πατάμε το κουμπί "Επεξεργασία"
                                    που βρίσκεται δεξιά σε κάθε γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    ΣΗΜΕΙΩΣΗ: Εάν γίνει επεξεργασία και ολοκληρωθεί με αποθήκευση, στην καρτέλα εκπαιδευτή, πατάμε "Επιστροφή" για να ανοίξει πάλι η
                                    αρχική σελίδα. Όπως αναφέραμε και παραπάνω, τα δύο κουμπιά στο επάνω μέρος "Επαναφορά" και "Επιλογή" επαναφέρουν το πλέγμα στην κατάσταση
                                    που ήταν πριν αλλάξουμε σελίδα. Επανέρχεται, δηλαδή, στη σελίδα του πλέγματος που βρισκόμασταν και δείχνει ποια γραμμή είχαμε επιλέξει
                                    (εμφανίζεται χρωματισμένη).
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πλέγμα με τους εκπαιδευτές παρέχει τη δυνατότητα ομαδοποποίησης με βάση τα πεδία "Φύλο", "Κλάδος" και "Ειδικότητα".
                                    Με αυτό τον τρόπο μπορούν να προβάλλοντα οι εκπαιδευτές ομαδοποιημένοι ως προς το φύλο, κλάδο ή ειδικότητα.
                                    Εναλλακτικά μπορούμε να κάνουμε χρήση των φίλτρων του πλέγματος (βλ. Οδηγίες 6).
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Μητρώο αναθέσεων:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Μητρώο αναθέσεων" έχει σκοπό την άμεση πρόσβαση στα δεδομένα των συνολικά καταχωρημένων αναθέσεων. Δεν υπάρχουν λειτουργίες
                                    καταχώρησης στοιχείων, παρά μόνο προβολή των στοιχείων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πλέγμα με τις αναθέσεις παρέχει τη δυνατότητα ομαδοποποίησης με βάση όλα τα πεδία (στήλες) που εμφανίζονται στο πλέγμα.
                                    Εναλλακτικά μπορούμε να κάνουμε χρήση των φίλτρων του πλέγματος (βλ. Οδηγίες 6).
                                </li>
                                <li style="margin-bottom:10px">
                                    Στην αρχική εμφάνιση το πλέγμα είναι ήδη ομαδοποιημένο ως προς τον εκπαιδευτή. Εάν επιθυμούμε άλλη ομαδοποίηση καταργούμε την υπάρχουσα
                                    (πατώντας το "x" στη γραμμή ομαδοποίησης) και σύρουμε την κεφαλίδα της στήλης στη γραμμή ομαδοποίησης για ομαδοποίηση με βάση τις τιμές της
                                    επιθυμητής στήλης. Για παράδειγμα, εάν κάνουμε ομαδοποίηση ως προς το μάθημα βλέπουμε άμεσα και εύκολα ποιοι εκπαιδευτές διδάσκουν το κάθε μάθημα.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Αιτήσεις εκπαιδευτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Αιτήσεις εκπαιδευτών" έχει σκοπό την εκτύπωση αιτήσεων των εκπαιδευτών προς το ΙΕΚ (π.χ. για έκδοση βεβαίωσης προϋπηρεσίας).
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να καταχωρήσουμε μια αίτηση πατάμε "Νέα εγγραφή" και συμπληρώνουμε τις στήλες του πλέγματος. Για να αποθηκεύσουμε πατάμε το κουμπί
                                    "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος. Τα πεδία "Πρωτόκολλο" και "Ημερομηνία" είναι υποχρεωτικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να εκτυπώσουμε την αίτηση πατάμε το κουμπί "Εκτύπωση" που βρίσκεται στο δεξιό άκρο της κάθε γραμμής του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το έντυπο της αίτησης έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία του εκπαιδευτή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πλέγμα με τις αιτήσεις παρέχει τη δυνατότητα ομαδοποίησης ως προς τις στήλες "Εκπαιδευτής" και "Ημερομηνία".
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                            Βεβαιώσεις ανάληψης καθηκόντων:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Για να καταχωρήσουμε μια βεβαίωση πατάμε "Νέα εγγραφή" και συμπληρώνουμε τις στήλες του πλέγματος. Για να αποθηκεύσουμε πατάμε το κουμπί
                                    "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος. Τα πεδία "Πρωτόκολλο" και "Ημερομηνία" είναι υποχρεωτικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να εκτυπώσουμε τη βεβαίωση πατάμε το κουμπί "Εκτύπωση" που βρίσκεται στο δεξιό άκρο της κάθε γραμμής του πλέγματος.
                                </li>
                                <li>
                                    Μετά την επιλογή περιόδου, η πτυσσόμενη λίστα "Εκπαιδευτής" εμφανίζει τους εκπαιδευτές που έχουν καταχωρηθεί με περίοδο απασχόλησης
                                    την επιλεγμένη. Αν κάποιοι δεν εμφανίζονται πρέπει να καταχωρηθούν οι περίοδοι απασχόλησης στη σελίδα "Στοιχεία και απασχόληση".
                                </li>
                                <li style="margin-bottom:10px">
                                    Το έντυπο της βεβαίωσης έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία του εκπαιδευτή. Το έντυπο αναφέρεται σε σχολικό έτος, αλλά η
                                    ημερομηνία πρόσληψης εξαρτάται από την επιλεγμένη, από το πλέγμα, περίοδο.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πλέγμα με τις βεβαιώσεις παρέχει τη δυνατότητα ομαδοποίησης ως προς τις στήλες "Περίοδος", "Εκπαιδευτής", "Ημερομηνία".
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                            Βεβαιώσεις προϋπηρεσίας:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Βεβαιώσεις προϋπηρεσίας" έχει σκοπό την εκτύπωση βεβαιώσεων προϋπηρεσίας των εκπαιδευτών. Προϋπόθεση για την εκτύπωση
                                    των βεβαιώσεων αυτών είναι να έχουν γίνει οι απαραίτητες καταχωρήσεις στο ωρολόγιο πρόγραμμα μαθημάτων (Μενού "Πρόγραμμα").
                                </li>
                                <li style="margin-bottom:10px">
                                    Η εφαρμογή υποστηρίζει τέσσερα είδη βεβαιώσεων προϋπηρεσίας οι οποίες ανήκουν σε δύο κατηγορίες. Η μια κατηγορία είναι
                                    οι βεβαιώσεις ανά σχολικό έτος και ή άλλη είναι οι συνολικές. Κάθε κατηγορία έχει δύο είδη βεβαιώσεων, αυτές που δείχνουν
                                    τα διδαχθέντα μαθήματα και τις ώρες, και οι χρονικές που δείχνουν τις ώρες ανά μήνα-έτος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για την εκτύπωση των βεβαιώσεων προϋπηρεσίας πατάμε το κουμπί "Κείμενο" που βρίσκεται στο δεξιό άκρο της κάθε γραμμής πλέγματος.
                                    Στην καρτέλα "Στοιχεία και εκτύπωση βεβαίωσης" συμπληρώνουμε το πεδίο "Για χρήση" και κάνουμε αποθήκευση. Τέλος, εκτυπώνουμε μια ή περισσότερες
                                    βεβαιώσεις, ανάλογα με το αίτημα του εκπαιδευτή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το έντυπο της βεβαίωσης έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία του εκπαιδευτή και των ωρών διαδσκαλίας, όπως αυτά προκύπτουν
                                    από υπολογισμούς με βάση τις καταχωρήσεις στο ωρολόγιο πρόγραμμα μαθημάτων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πλέγμα με τις βεβαιώσεις παρέχει τη δυνατότητα ομαδοποίησης ως προς τις στήλες "Εκπαιδευτής" και "Ημερομηνία" και "Σχολικό έτος".
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.6.png" style="width:42px;height:42px" />
                            Οικειοθελείς αποχωρήσεις εκπαιδευτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα αυτή έχει ως σκοπό την ενημέρωση της Διεύθυνσης Α2 για τις οικειοθελείς αποχωρήσεις.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να καταχωρήσουμε μια αποχώρηση πατάμε "Νέα εγγραφή" και συμπληρώνουμε τις στήλες του πλέγματος. Για να αποθηκεύσουμε πατάμε το κουμπί
                                    "Ενημέρωση" που βρίσκεται δεξιά στη γραμμή του πλέγματος. Οι αιτίες αποχώρησης έχουν οριστεί από τους διαχειριστές της εφαρμογής.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να εκτυπώσουμε τη λίστα με τις αποχωρήσεις πατάμε το κουμπί "Εκτύπωση" που βρίσκεται έπάνω από το πλέγμα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα εκτύπωσης του εντύπου πρέπει να γίνει πάλι επιλογή του σχολικού έτους για να εμφανιστούν τα στοιχεία. Το έντυπο αυτό
                                    χρησιμοποιείται πρωτίστως από τη Διεύθυνση Α2.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το πλέγμα με τις αποχωρήσεις παρέχει τη δυνατότητα ομαδοποίησης ως προς τις στήλες "Σχολικό έτος", "Εκπαιδευτής" και "Αιτιολογία".
                                </li>
                            </ul>
                        </p>
                        <p />
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 9 (Διαχείριση του ΙΕΚ - Πρακτική)")
            .Content(@<text>
                    <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Λειτουργίες που αφορούν τη διαχείριση του ΙΕΚ (Πρακτική)
                                </font>
                            </span>
                            <br />
                        <p />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                            Εργοδότες και πρακτική:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Οι παραπάνω λειτουργίες έχουν ήδη αναφερθεί στις "ΟΔΗΓΙΕΣ 5 (Εργοδότες και Πρακτική Άσκηση)".
                                </li>
                                <li style="margin-bottom:10px">
                                    Στα παρακάτω θα εξετάσουμε τις υπόλοιπες λειτουργίες σχετικές με την πρακτική άσκηση.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Μητρώο εργοδοτών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα "Μητρώο εργοδοτών" έχει σκοπό την άμεση πρόσβαση στα δεδομένα των καταχωρημένων εργοδτών. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με τα βασικά στοιχεία των εργοδοτών και στο κάτω μέρος μια καρτέλα που με τους ασκούμενους σπουδαστές, και κάποια στοιχεία του επιλεγμένου
                                    εργοδότη που δεν εμφανίζονται στο πλέγμα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιον εργοδότη κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στην καρτέλα, στο κάτω μέρος, εμφανίζονται οι ασκούμενοι σε αυτόν σπουδαστές, και τα υπόλοιπα στοιχεία του επιλεγμένου εργοδότη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο πλέγμα εργοδοτών παρέχεται και η δυνατότητα επεξεργασίας των στοιχείων του επιλεγμένου εργοδότη π.χ. όταν θέλουμε να διορθώσουμε
                                    ή να συμπληρώσουμε κάποια στοιχεία του εργοδότη. Για να επεξεργαστούμε τα στοιχεία ενός εργοδότη πατάμε το κουμπί "Επεξεργασία"
                                    που βρίσκεται δεξιά σε κάθε γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    ΣΗΜΕΙΩΣΗ: Εάν γίνει επεξεργασία και ολοκληρωθεί με αποθήκευση, στην καρτέλα εργοδότη, πατάμε "Επιστροφή" για να ανοίξει πάλι η
                                    αρχική σελίδα. Όπως αναφέραμε και παραπάνω, τα δύο κουμπιά στο επάνω μέρος "Επαναφορά" και "Επιλογή" επαναφέρουν το πλέγμα στην κατάσταση
                                    που ήταν πριν αλλάξουμε σελίδα. Επανέρχεται, δηλαδή, στη σελίδα του πλέγματος που βρισκόμασταν και δείχνει ποια γραμμή είχαμε επιλέξει
                                    (εμφανίζεται χρωματισμένη).
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Αιτήσεις σπουδαστών για πρακτική:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα αυτή έχει σκοπό την εκτύπωση και αρχειοθέτηση των αιτήσεων των σπουδαστών, προς το ΙΕΚ, για πρακτική άσκηση. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με τα βασικά στοιχεία των σπουδαστών που έχουν καταχωρηθεί σε πρακτική άσκηση (βλ. ΟΔΗΓΙΕΣ 5) και στο κάτω πλέγμα εμφανίζονται (εάν υπάρχουν)
                                    οι αιτήσεις του επιλεγμένου σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιο σπουδαστή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο κάτω πλέγμα εμφανίζεται η αίτηση του σπουδαστή. Η καταχώρηση νέας αίτησης γίνεται με τον ίδιο τρόπο που έχει αναφερθεί πολλές φορές στα
                                    προηγούμενα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού γίνει αποθήκευση πατάμε το κουμπί "Εκτύπωση" για να εκτυπώσουμε την αίτηση που έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Αποφάσεις πρακτικής άσκησης:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα αυτή έχει σκοπό την εκτύπωση και αρχειοθέτηση των αποφάσεων του ΙΕΚ, για πρακτική άσκηση των σπουδαστών. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με αιτήσεις των σπουδαστών των σπουδαστών που έχουν ήδη καταχωρηθεί (βλ. παραπάνω) και στο κάτω πλέγμα εμφανίζεται (εάν υπάρχει)
                                    η απόφαση του Διευθυντή για τον επιλεγμένο σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιο σπουδαστή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο κάτω πλέγμα εμφανίζεται η απόφαση του σπουδαστή. Η καταχώρηση νέας απόφασης γίνεται με τον ίδιο τρόπο που έχει αναφερθεί πολλές φορές στα
                                    προηγούμενα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού γίνει αποθήκευση πατάμε το κουμπί "Εκτύπωση" για να εκτυπώσουμε την απόφαση που έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία.
                                    Από τα παραπάνω είναι προφανές ότι δεν μπορούμε να καταχωρήσουμε μια απόφαση για ένα σπουδαστή εάν προηγουμένως δεν έχει καταχωρηθεί η αίτησή του.
                                    Αυτό γιατί το έντυπο της απόφασης αναφέρεται στην αίτηση του σπουδαστή, επομένως αυτή πρέπει να υπάρχει.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                            Βεβαιώσεις παρουσίας πρακτικής:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα αυτή έχει σκοπό την εκτύπωση και αρχειοθέτηση των βεβαιώσεων παρουσίας που υπογράφει ο εργοδότης. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με τα βασικά στοιχεία των σπουδαστών που έχουν καταχωρηθεί σε πρακτική άσκηση (βλ. ΟΔΗΓΙΕΣ 5) και στο κάτω πλέγμα εμφανίζονται (εάν υπάρχουν)
                                    οι βεβαιώσεις για τον επιλεγμένο σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιο σπουδαστή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο κάτω πλέγμα εμφανίζεται η βεβαίωση για το σπουδαστή. Η καταχώρηση νέας βεβαίωσης γίνεται με τον ίδιο τρόπο που έχει αναφερθεί πολλές φορές στα
                                    προηγούμενα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού γίνει αποθήκευση πατάμε το κουμπί "Εκτύπωση" για να εκτυπώσουμε τη βεβαίωση που έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία. Έτσι,
                                    παραδίδεται έτοιμη στον εργοδότη μόνο για υπογραφή.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                            Βεβαιώσεις περάτωσης πρακτικής:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα αυτή έχει σκοπό την εκτύπωση και αρχειοθέτηση των βεβαιώσεων περάτωσης που υπογράφεται από το ΙΕΚ. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με τα βασικά στοιχεία των σπουδαστών που έχουν καταχωρηθεί σε πρακτική άσκηση (βλ. ΟΔΗΓΙΕΣ 5) και στο κάτω πλέγμα εμφανίζονται (εάν υπάρχουν)
                                    οι βεβαιώσεις για τον επιλεγμένο σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιο σπουδαστή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο κάτω πλέγμα εμφανίζεται η βεβαίωση για το σπουδαστή. Η καταχώρηση νέας βεβαίωσης γίνεται με τον ίδιο τρόπο που έχει αναφερθεί πολλές φορές στα
                                    προηγούμενα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού γίνει αποθήκευση πατάμε το κουμπί "Εκτύπωση" για να εκτυπώσουμε τη βεβαίωση που έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.6.png" style="width:42px;height:42px" />
                            Έντυπα ελέγχων πρακτικής:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα αυτή έχει σκοπό την εκτύπωση και αρχειοθέτηση των ελέγχων που γίνονται από το ΙΕΚ. Στο επάνω μέρος υπάρχει το πλέγμα
                                    με τα βασικά στοιχεία των σπουδαστών που έχουν καταχωρηθεί σε πρακτική άσκηση (βλ. ΟΔΗΓΙΕΣ 5) και στο κάτω πλέγμα εμφανίζονται (εάν υπάρχουν)
                                    οι έλεγχοι για τον επιλεγμένο σπουδαστή.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιο σπουδαστή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο κάτω πλέγμα εμφανίζονται τα στοιχεία ελέγχου για το σπουδαστή. Η καταχώρηση νέας εγγραφής γίνεται με τον ίδιο τρόπο που έχει αναφερθεί πολλές φορές στα
                                    προηγούμενα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αφού γίνει αποθήκευση πατάμε το κουμπί "Εκτύπωση" για να εκτυπώσουμε έντυπο ελέγχου που έχει συμπληρωμένα όλα τα απαραίτητα στοιχεία.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.7.png" style="width:42px;height:42px" />
                            Μητρώα πρακτικής:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Με την επιλογή αυτή εμφανίζονται σε πλέγματα τα αρχειοθετημένα έντυπα που αφορούν την πρακτική άσκηση. Στο επάνω μέρος είναι το πλέγμα των αιτήσεων, βεβαιώσεων, κ.λπ.
                                    και στο κάτω μέρος τα βασικά στοιχεία πρακτικής και εργοδότη για την επιλεγμένη αίτηση, βεβαίωση, κ.λπ.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να επιλέξουμε κάποιο σπουδαστή κάνουμε κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος, οπότε αυτή εμφανίζεται χρωματισμένη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Από το πλέγμα μπορούν και εδώ να γίνουν εκτυπώσεις των αντίστοιχων εντύπων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για διευκόλυνση της προβολής στοιχείων, τα πλέγματα αυτά παρέχουν τη δυνατότητα ομαδοποίησης των στοιχείων με τις στήλες
                                    "Ημερομηνία", "Σπουδαστής", "Ειδικότητα" και "Εργοδότης".
                                </li>
                            </ul>
                        </p>

                        <p />
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 10 (Λοιπές λειτουργίες)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Οι λειτουργίες αυτές αφορούν τα μενού "Στατιστικά" και "Εργαλεία"
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Στατιστικά:
                <ul>
                    <li style="margin-bottom:10px">
                        Τα στατιστικά στοιχεία διακρίνονται σε δύο κατηγορίες: (α) Αυτά που ζητά κάθε σχολικό έτος η ΕΛΣΤΑΤ και (β) τα γενικού ενδιαφέροντος.
                    </li>
                    <li style="margin-bottom:10px">
                        Δεν θα γίνει εδώ περιγραφή των στοιχείων καθόσον αυτή είναι προφανής από τους τίτλους επιλογών του μενού αυτού.
                    </li>
                    <li style="margin-bottom:10px">
                        Η ορθότητα των στατιστικών στοιχείων εξαρτάται από την ορθότητα των καταχωρημένων στοιχείων των σπουδαστών (καρτέλες σπουδαστών).
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Εργαλεία:
                <ul>
                    <li style="margin-bottom:10px">
                        Οι περισσότερες επιλογές εδώ απλώς προβάλλουν δεδομένα, που έχουν καταχωρηθεί από τους διαχειριστές, για ενημέρωση, όσον
                        αφορά τα παραμετρικά στοιχεία της εφαρμογής.
                    </li>
                    <li style="margin-bottom:10px">
                        Μετατροπή ωρών σε μήνες και ημέρες: Η επιλογή αυτή προσφέρεται για δοκιμές του ενσωματωμένου αλγόριθμου μετατροπής. Πρέπει
                        να σημειωθεί ότι σε όλες τις βεβαιώσεις προϋπηρεσίας των εκπαιδευτών εμφανίζεται και η χρονική διάρκεια του συνόλου ωρών
                        σε μήνες και ημέρες
                    </li>
                    <li style="margin-bottom:10px">
                        Οι υπολογισμοί βασίζονται στις καταχωρημένες τιμές των υποχρεωτικών ωρών ανά κλάδο, συνεπώς ισχύουν για προϋπηρεσίες
                        μετά το έτος 2013.
                    </li>
                    <li style="margin-bottom:10px">
                        Μετατροπή βαθμού σε μικτό: Παρέχεται για δοκιμές. Μετατρέπει ένα τελικό βαθμό από δεκαδική μορφή σε μικτό αριθμό.
                    </li>
                </ul>
            </p>
            <p />

            <p />
        </div>
            </text>);

        }).ExpandMode(PanelBarExpandMode.Multiple)
    </div>
</body>
