@model IEnumerable<Proteus.Models.StudentBekViewModel>
@using Proteus.DAL;
@using Proteus.Models;


@{
    ViewBag.Title = "ΒΕΚ σπουδαστών";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    .k-grid {
        font-size: 11px;
    }
</style>


@Html.AntiForgeryToken()
<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Έκδοση ΒΕΚ σπουδαστών</font>
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "School", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px;font-size:small">
    @(Html.Kendo().Grid<bekStudentsTableViewModel>()
        .Name("Master")
        .Columns(columns =>
        {
            columns.Bound(c => c.ΑΜΚ).Width(10).Groupable(false);
            columns.Bound(c => c.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Width(35).Groupable(false);
            columns.Bound(c => c.EIDIKOTITA_TEXT).Width(60);
            columns.Bound(c => c.TERM).Width(8).Filterable(false);
            columns.Bound(c => c.ΠΕΡΙΟΔΟΣ).Width(14);
        })
        .Selectable()
        .Groupable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(10))
        .Filterable()
        .HtmlAttributes(new { style="font-size:12px" })
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(280))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(60)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(p => p.STUDENT_ID);
            })
            .Read(read => read.Action("BekStudents_Read", "Programma"))
            )
        .Events(events => events.Change("change"))

    )  @* --- data grid ---*@
</div>


<div class="body-content" style="margin:5px 30px 5px 30px;font-size:small">

        @(Html.Kendo().Grid<StudentBekViewModel>()
        .Name("Child")
        .HtmlAttributes(new { style = "display:block;font-size:13px" })
        .Navigatable()
        .Filterable()
        .Editable(editable => editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Top))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Scrollable(scr => scr.Height(200))
        .Columns(columns =>
        {
            columns.Bound(c => c.ΑΡ_ΒΙΒΛΙΟΥ_ΒΕΚ).Width(18).Groupable(false);
            columns.Bound(c => c.ΗΜΝΙΑ_ΕΚΔΟΣΗΣ_ΒΕΚ).Width(18).Groupable(false);
            columns.Bound(c => c.ΕΚΔΟΣΗ).Width(18).ClientTemplate("<input type='checkbox' #=ΕΚΔΟΣΗ ? checked='checked' : '' # ></input>").Groupable(false);
            columns.Bound(c => c.ΜΑΘΗΤΗΣ_ΒΕΚ_ΚΩΔ).Width(10).Hidden();
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(34);
            columns.Template(
                @<text></text>)
            .ClientTemplate(
            "<a class=\"k-button k-button-icontext\" href='" + Url.Action("StudentBekEdit", "Programma") + "?bekId=#=ΜΑΘΗΤΗΣ_ΒΕΚ_ΚΩΔ#' target = _blank><span class=\"k-icon k-edit\"></span>Στοιχεία ΒΕΚ</a>"
            ).Width(26);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
        })
        .DataSource(ds => ds
            .Ajax()
            .Batch(false)
            .PageSize(40)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(p => p.ΜΑΘΗΤΗΣ_ΒΕΚ_ΚΩΔ);
                model.Field(p => p.ΕΚΔΟΣΗ).DefaultValue(true);
            })
            .Create(create => create.Action("Bek_Create", "Programma").Data("data"))
            .Read(read => read.Action("Bek_Read", "Programma").Data("data"))
            .Update(update => update.Action("Bek_Update", "Programma").Data("data"))
            .Destroy(destroy => destroy.Action("Bek_Destroy", "Programma"))
            .Events(events => events.Error("error_handler"))                        
        )
        )

</div>

<script type="text/javascript">

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var studentID = dataItem.STUDENT_ID;

        $("#Child").data("kendoGrid").dataSource.read({ studentId: studentID });
        $("#Child").css("display", "block");
    }

    function data() {
        var masterGrid = $("#Master").data("kendoGrid");
        var studentID = 0;
        // get data item for selected row
        var dataItem = masterGrid.dataItem(masterGrid.select());
        if (dataItem) {
            studentID = dataItem.STUDENT_ID;
        }
        return { studentId: studentID };
    }

    function RefreshGrid(e) {
        var grid = $("#Child").data("kendoGrid");
        grid.dataSource.read();

    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
            RefreshGrid(e);
        }
    }

    </script>

