@using Proteus.DAL;
@using Proteus.Models;

@{
    ViewBag.Title = "Βεβαιώσεις παρουσίας";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    .k-grid {
        font-size: 10px;
    }
</style>

<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Βεβαιώσεις παρουσίας πρακτικής</font>
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "School", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px;font-size:small">
    @*<span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:medium;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Σπουδαστές σε πρακτική</font>
    </span>*@

    @(Html.Kendo().Grid<StudentInPraktikiViewModel>()
    .Name("Master")
    .Columns(columns =>
    {
        columns.Bound(c => c.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Width(30).Groupable(false)
            .ClientFooterTemplate("Συνολικό πλήθος: #=count#")
            .ClientGroupFooterTemplate("Πλήθος: #=count#");
        columns.Bound(c => c.ΤΜΗΜΑ_ΟΝΟΜΑ).Width(20);
        columns.Bound(c => c.EIDIKOTITA_TEXT).Width(50);
        columns.Bound(c => c.ΕΡΓΟΔΟΤΗΣ_ΕΠΩΝΥΜΙΑ).Width(50);
        columns.Bound(c => c.STUDENT_ID).Width(10).Hidden();
        columns.Bound(c => c.ΕΡΓΟΔΟΤΗΣ_ΚΩΔΙΚΟΣ).Width(10).Hidden();
        columns.Bound(c => c.ΤΜΗΜΑ_ΚΩΔ).Width(10).Hidden();
    })
    .HtmlAttributes(new { style="font-size:12px" })
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .Selectable()
    .Filterable()
    .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
    .Scrollable(scr => scr.Height(300))
    .DataSource(dataSource => dataSource
    .Ajax()
    .Batch(true)
    .PageSize(40)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(p => p.ΕΡΓ_ΠΡΑΚΤΙΚΗ_ΚΩΔ);
    })        
    .Read(read => read.Action("StudentsPraktiki_Read", "Ergodotes"))
    .Aggregates(a =>
    {
        a.Add(p => p.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Count();
    })
    )
    .Events(events => events.Change("change"))
    )
</div>


<div class="body-content" style="margin:10px 30px 5px 30px;font-size:small">

    @(Html.Kendo().PanelBar()
    .Name("Panel1")
    .Items(items =>
    {
        items.Add()
            .Text("Βεβαιώσεις παρουσίας")
            .Selected(false)
            .Expanded(true)
            .Content(
            @<text>

        @(Html.Kendo().Grid<PraktikiParousiaViewModel>()
        .Name("Child")
        .AutoBind(false)
        .HtmlAttributes(new { style = "font-size:13px" })
        .Navigatable()
        .Filterable()
        .Editable(editable => editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Top))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Scrollable(scr => scr.Height(220))
        .Columns(columns =>
        {
            columns.Bound(c => c.ΒΕΒΑΙΩΣΗ_ΗΜΝΙΑ).Width(18).Filterable(false);
            columns.Bound(c => c.ΠΑΡΑΛΑΒΗ).Width(14).ClientTemplate("<input type='checkbox' #=ΠΑΡΑΛΑΒΗ ? checked='checked' : '' # ></input>").Filterable(false);
            columns.ForeignKey(f => f.ΜΑΘΗΤΗΣ_ΚΩΔ, (IEnumerable<qrySTUDENT_PRAKTIKI_SELECTOR>)ViewData["students"], "STUDENT_ID", "ΟΝΟΜΑΤΕΠΩΝΥΜΟ").Width(34);
            columns.ForeignKey(f => f.ΕΡΓΟΔΟΤΗΣ, (IEnumerable<ΕΡΓΟΔΟΤΕΣ>)ViewData["ergodotes"], "ΕΡΓΟΔΟΤΗΣ_ΚΩΔ", "ΕΡΓΟΔΟΤΗΣ_ΕΠΩΝΥΜΙΑ").Width(40);
            columns.Bound(c => c.ΠΡΑΚΤΙΚΗ_ΑΠΟ).Width(14).Filterable(false);
            columns.Bound(c => c.ΠΡΑΚΤΙΚΗ_ΕΩΣ).Width(14).Filterable(false);
            columns.Bound(c => c.ΠΡΑΚΤΙΚΗ_ΩΡΕΣ).Width(10).Filterable(false);            
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(38);
            columns.Bound(m => m.ΒΕΒΑΙΩΣΗ_ΚΩΔ).Filterable(false)
            .ClientTemplate(
            "<a class=\"k-button k-button-icontext\" href='" + Url.Action("PraktikiParousiaPrint", "Ergodotes") + "?bebeosiId=#=ΒΕΒΑΙΩΣΗ_ΚΩΔ#' target = _blank><span class=\"k-icon k-justifyFull\"></span>Εκτύπωση</a>"                   
            ).Title("").Width(20);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
        })
        .DataSource(ds => ds
            .Ajax()
            .Batch(false)
            .PageSize(40)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(p => p.ΒΕΒΑΙΩΣΗ_ΚΩΔ);
                model.Field(p => p.ΜΑΘΗΤΗΣ_ΚΩΔ).Editable(false);
                model.Field(p => p.ΕΡΓΟΔΟΤΗΣ).Editable(false);
                model.Field(p => p.ΠΡΑΚΤΙΚΗ_ΑΠΟ).Editable(false);
                model.Field(p => p.ΠΡΑΚΤΙΚΗ_ΕΩΣ).Editable(false);
                model.Field(p => p.ΠΡΑΚΤΙΚΗ_ΩΡΕΣ).Editable(false);
                model.Field(p => p.ΒΕΒΑΙΩΣΗ_ΚΩΔ).Editable(false);
                model.Field(p => p.ΠΑΡΑΛΑΒΗ).DefaultValue(true);
            })
            .Create(create => create.Action("BebeosiParousia_Create", "Ergodotes").Data("data"))
            .Read(read => read.Action("BebeosiParousia_Read", "Ergodotes").Data("data"))
            .Update(update => update.Action("BebeosiParousia_Update", "Ergodotes").Data("data"))
            .Destroy("BebeosiParousia_Destroy", "Ergodotes")
            .Events(events => events.Error("error_handler"))
        )
        )
    </text>);
    })
    )

</div>


<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Master").data("kendoGrid");
        grid.dataSource.read();
    }

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var ergodotisID = dataItem.ΕΡΓΟΔΟΤΗΣ_ΚΩΔΙΚΟΣ;
        var studentID = dataItem.STUDENT_ID;
        var tmimaID = dataItem.ΤΜΗΜΑ_ΚΩΔ;

        $("#Child").data("kendoGrid").dataSource.read({ ergodotisId: ergodotisID, studentId: studentID, tmimaId: tmimaID });
        $("#Child").css("display", "block");

    }

    function data() {
        var ergodotisID = 0;
        var studentID = 0;
        var tmimaID = 0;
        var masterGrid = $("#Master").data("kendoGrid");
        // get data item for selected row
        var dataItem = masterGrid.dataItem(masterGrid.select());
        if (dataItem) {
            ergodotisID = dataItem.ΕΡΓΟΔΟΤΗΣ_ΚΩΔΙΚΟΣ;
            studentID = dataItem.STUDENT_ID;
            tmimaID = dataItem.ΤΜΗΜΑ_ΚΩΔ;
        }
        return {
            ergodotisId: ergodotisID,
            studentId: studentID,
            tmimaId: tmimaID
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
        }
        $("#Child").data("kendoGrid").dataSource.read();
    }

</script>

