@model regPraktikiParousiaViewModel
@using Proteus.DAL;
@using Proteus.Models;

@{
    ViewBag.Title = "Μητρώο βεβαιώσεων παρουσίας";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    .k-grid {
        font-size: 10px;
    }
</style>

<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Μητρώο βεβαιώσεων παρουσίας</font>
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "School", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px">
        @(Html.Kendo().Grid<regPraktikiParousiaViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ΒΕΒΑΙΩΣΗ_ΗΜΝΙΑ).Width(14);
            columns.Bound(c => c.ΑΜΚ).Width(10).Groupable(false).Filterable(false);
            columns.Bound(c => c.ΟΝΟΜΑΤΕΠΩΝΥΜΟ).Width(40);
            columns.Bound(c => c.EIDIKOTITA_TEXT).Width(60);
            columns.Bound(c => c.ΕΡΓΟΔΟΤΗΣ_ΕΠΩΝΥΜΙΑ).Width(50)
                .ClientFooterTemplate("Συνολικό πλήθος: #=count#")
                .ClientGroupFooterTemplate("Πλήθος: #=count#");
            columns.Bound(m => m.ΒΕΒΑΙΩΣΗ_ΚΩΔ).Filterable(false).Groupable(false)
                .ClientTemplate(
                "<a class=\"k-button k-button-icontext\" href='" + Url.Action("PraktikiParousiaPrint", "Ergodotes") + "?bebeosiId=#=ΒΕΒΑΙΩΣΗ_ΚΩΔ#' target = _blank><span class=\"k-icon k-justifyFull\"></span>Εκτύπωση</a>")
                .Title("").Width(18);
        })
        .HtmlAttributes(new { style = "font-size:11px" })
        .Selectable()
        .Groupable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(10))
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(320))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(40)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(p => p.ΒΕΒΑΙΩΣΗ_ΚΩΔ);

            })
            .Read(read => read.Action("RegPraktikiParousies_Read", "Ergodotes"))
            .Aggregates(a =>
            {
                a.Add(p => p.ΕΡΓΟΔΟΤΗΣ_ΕΠΩΝΥΜΙΑ).Count();
            })
            .Events(events => events.Error("error_handler"))
            )
        .Events(events => events.Change("change"))

        )  @* --- data grid ---*@
</div>

<div id="partialDiv" class="body-content" style="margin:15px 30px 5px 30px;font-size:small">
    @Html.Partial("RegPraktikiParousiaPartial")
</div>

<script id="events" type="text/javascript">

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var dataID = dataItem.ΒΕΒΑΙΩΣΗ_ΚΩΔ;
        //alert("ergodotisID=" + ergodotisID);
        // Handle data source of partial view
        $.ajax({
            url: '@Url.Action("GetPraktikiParousiaRecord", "Ergodotes")?bebeosiId=' + dataID,
            type: 'GET',
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#partialDiv").html(data);
            },
            error: function () {
                MessageBoxAlert("Προέκυψε σφάλμα ανάκτησης δεδομένων.");
            }
        });
    }

    function RefreshGrid(e) {
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();

    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
        }
    }

</script>





