@using Proteus.DAL;
@using Proteus.Models;


@{
    ViewBag.Title = "Βεβαιώσεις σπουδαστών";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .k-grid {
        font-size: 11px;
    }
</style>

<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Βεβαιώσεις σπουδαστών</font>
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Admin", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px">

    @(Html.Kendo().Grid<StudentBebeoseisViewModel>()
    .Name("bebeoseis")
    .HtmlAttributes(new { style="font-size:12px" })
    .Navigatable()
    .Filterable()
    .Groupable()
    .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(10))
    .Scrollable(scr => scr.Height(420))
    .Columns(columns =>
    {
        columns.ForeignKey(f => f.ΙΕΚ, (IEnumerable<SYS_SCHOOLS>)ViewData["schools"], "SCHOOL_ID", "SCHOOL_NAME").Width(20);            
        columns.ForeignKey(f => f.ΜΑΘΗΤΗΣ_ΚΩΔ, (IEnumerable<qrySTUDENT_GLOBAL_SELECTOR>)ViewData["students"], "STUDENT_ID", "ΟΝΟΜΑΤΕΠΩΝΥΜΟ").Width(30);
        columns.Bound(c => c.ΠΡΩΤΟΚΟΛΛΟ).Width(12).Groupable(false);
        columns.Bound(c => c.ΗΜΕΡΟΜΗΝΙΑ).Width(16);
        columns.Template(
            @<text></text>)
        .ClientTemplate(
        "<a class=\"k-button k-button-icontext\" href='" + Url.Action("XStudentBebeosiEdit", "Admin") + "?bebeosiId=#=ΒΕΒΑΙΩΣΗ_ΚΩΔ#' target = _blank><span class=\"k-icon k-edit\"></span>Καρτέλα</a>"
        ).Width(16);
    })
    .DataSource(ds => ds
        .Ajax()
        .Batch(false)
        .PageSize(60)
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ΒΕΒΑΙΩΣΗ_ΚΩΔ);
        })
        .Read(read => read.Action("StudentBebeosi_Read", "Admin"))
        //.Group(group => group.Add(p => p.ΙΕΚ))
    )
    )

</div>

<script>

    function RefreshGrid(e) {
        var grid = $("#bebeoseis").data("kendoGrid");
        grid.dataSource.read();

    }

</script>

