@{
    ViewBag.Title = "Αποτυχία σύνδεσης";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner" style="background-color:dimgray;margin:0px 0px 0px 0px">
    <div class="banner" style="align-content:center">
        <table style="margin-top:20px">
            <tr>
                <td align="left" style="margin:40px 60px 40px 40px"><img src="~/images/metro/error-image.png" height="80" width="80" style="margin:20px 20px 20px 20px"></td>
                <td>
                    <p style="color:whitesmoke;font-family:'Segoe UI';font-size:20px;align-content:center;margin-left:40px">
                        Δεν κατέστη δυνατή η σύνδεση με τον εξυπηρετητή.
                    </p>
                    <p></p>
                    <p style="color:whitesmoke;font-family:'Segoe UI';font-size:20px;align-content:center;margin-left:40px">
                        Δοκιμάστε πάλι αργότερα.
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>