@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Σφάλμα.</h1>
        <h2>Προέκυψε σφάλμα κατά την επεξεργασία του αιτήματός σας.</h2>
    </hgroup>
</body>
</html>
