<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://localhost/proteus</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/proteus</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>gek</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProteusDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.20.199,1711;Initial Catalog=ProteusDB;Persist Security Info=True;User ID=user;Password=171159;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Proteus.DAL.ProteusDBEntities, Proteus" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Proteus.Properties.Settings.DBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.20.199,1711;Initial Catalog=ProteusDB;Persist Security Info=True;User ID=user;Password=171159;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.20.199,1711;Initial Catalog=ProteusDB;Persist Security Info=True;User ID=user;Password=171159" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Proteus.Properties.Settings.DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.20.199,1711;Initial Catalog=ProteusDB;Persist Security Info=True;User ID=user;Password=171159" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Proteus.Properties.Settings.DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=192.168.20.199,1711;Initial Catalog=ProteusDB;Persist Security Info=True;User ID=user;Password=171159;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProteusDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.ProteusEntityModel.csdl|res://*/DAL.ProteusEntityModel.ssdl|res://*/DAL.ProteusEntityModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.20.199,1711;Initial Catalog=ProteusDB;Persist Security Info=True;User ID=user;Password=171159;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>